body, ol, ul, li {
    margin:0;
    padding:0;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

.main-wrapper{
    margin: 0 auto;
    width: 1000px;
}

body{
    background-color: #ccc;
    font-family: Microsoft YaHei Light;
}


/*DE HEADER*/

header nav {
     width:100%;
     height:60px;
     background-color: #fff;
 }

header nav ul{
    float: left;
}

header nav ul li{
    float: left;
    list-style: none;
}

header nav ul li a{
    font-family: Microsoft YaHei Light;
    font-size: 16px;
    color:#111;
    line-height: 63px;
}

#logo{
    padding: 10px 0;
}

header .nav-login{
    float: right;
}

header .nav-login form{
    float: left;
    padding: 15px;
}

header .nav-login form input{
    float: left;
    width:140px;
    height:30px;
    padding: 0px 10px;
    margin-right:10px;
    border: none;
    background-color: #ccc;
    font-family: Microsoft YaHei Light;
    font-size: 14px;
    color:#111;
    line-height: 30px;
}

header .nav-login form button{
    float: left;
    width:140px;
    height:30px;
    margin-right:10px;
    border: none;
    background-color: #f3f3f3;
    font-family: Microsoft YaHei Light;
    font-size: 14px;
    color:#111;
    cursor: pointer;
}

header .nav-login form button:hover{
    background-color: #ccc;
}

header .nav-login a{
    display: block;
    width:60px;
    height:60px;
    border:none;
    float:left;
    background-color:#fff;
    font-family: Microsoft YaHei Light;
    font-size: 16px;
    color:#111;
    line-height: 63px;
    cursor: pointer;
}

/*HEADER CODE STOPT*/

/*DE MAIN CODE START*/

.main-container{
     padding-top:40px;
 }
.title{
    font-family: Microsoft YaHei Light;
    font-size: 40px;
    color:#111;
    line-height: 50px;
    text-align: center;
    margin:0;
    padding:0;
}
/*DE MAIN CODE STOPT*/

/*SIGNUP.PHP - LOGIN.PHP*/

.signup-form{
    width:400px;
    margin:0 auto;
    padding-top:30px;
    text-align: center;
}

.signup-form input {
    width:90%;
    height:40px;
    padding: 0% 5%;
    margin-bottom:4px;
    border: none;
    background-color: #fff;
    font-family: Microsoft YaHei Light;
    font-size: 16px;
    color:#111;
    line-height: 40px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    height:40px;
    border: none;
    background-color: #C72425;
    font-family: Microsoft YaHei Light;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    cursor:pointer;
    border-radius: 5px;
}

.signup-form button:hover {
    background-color: #961B1C;
}

.extras {
    font-weight: 900;
    font-size:13px;
}

.extras :hover{
    text-decoration: underline;
    color :green;
#forgetpass {
    text-align: ;
}








